.tag-listing-item-component{padding:.5em;background-color:#ccc;color:#000;display:inline-block;border-radius:.5em}.tag-listing-item-component.sm-margin-right{margin-right:1em}.tag-listing-item-component.cursor-pointer{cursor:pointer}.tag-listing-item-component.selected{background-color:#2ecc71;color:#fff}
/*# sourceMappingURL=/component.css.map */