<template>
  <div :class="tagClass" @click.prevent="$emit('toggle', tag, tagIdx)">
    <img :src="iconImageSrc" v-if="iconImageSrc"></img>
    {{ tag.name }}
  </div>
</template>

a<script> export {default} from './component.ts'; </script>
<style lang="scss" scoped>@import "./style.css";</style>
