.dashboard-text-widget-component{color:#fff;height:10rem;box-shadow:0 5px 2px #aaa}.dashboard-text-widget-component .inner{display:flex;flex-direction:column;align-items:center;justify-content:center;height:100%}.dashboard-text-widget-component #icon,.dashboard-text-widget-component #value{margin:0;font-weight:200;font-size:3rem}.dashboard-text-widget-component #title{margin:0;font-weight:300;font-size:2rem;overflow-x:auto}.dashboard-text-widget-component #subtitle{margin:0;font-weight:200;font-size:1rem}
/*# sourceMappingURL=/component.css.map */