<template>
<div class="dashboard-text-widget-component">
  <div class="inner" :title="hoverDesc || ''">
    <h2 id="value">
      {{ value }}
      <span id="icon" v-if="iconClass">&nbsp;<i :class="iconClass"></i></span>
    </h2>
    <h3 id="title">{{ title }}</h3>
    <h4 id="subtitle">{{ subtitle }}</h4>
  </div>
</div>
</template>

<script> export {default} from './component.ts'; </script>
<style lang="scss" scoped>@import "./style.css";</style>
