.dashboard-text-widget-component {
  color: white;
  height: 10rem;
  box-shadow: 0px 5px 2px #AAA;
}


.slim-text {  }

.dashboard-text-widget-component .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.dashboard-text-widget-component #value,
.dashboard-text-widget-component #icon {
  margin: 0;
  font-weight: 200;
  font-size: 3rem;
}

.dashboard-text-widget-component #title {
  margin: 0;
  font-weight: 300;
  font-size: 2rem;
  overflow-x: auto;
}

.dashboard-text-widget-component #subtitle {
  margin: 0;
  font-weight: 200;
  font-size: 1rem;
}
