<template>
<td class="listing-table-item-component">
  <span v-if="displayCfg">
    {{ dcfg.formatter(value) }}
  </span>
  <span v-else>
    {{ value }}
  </span>
</td>
</template>

<script> export {default} from './component.ts'; </script>
