<template>
<button class="async-button-component"
        :class="{loading: isLoading, success: success, error: error}"
        :disabled="loading || (onlyOnce && isSuccess)"
        :style="{minWidth: textMinWidth}"
        @click="handleClick">
  
  <span class="default">
    <span v-if="defaultText">{{ defaultText }}</span>
    <slot name="default" v-else></slot>
  </span>
  
  <span class="button-content success out-of-sight">
    <span v-if="successText">{{ successText }}</span>
    <slot name="success" v-else></slot>
  </span>
  
  <span class="button-content loading out-of-sight">
    <span v-if="loadingText">{{ loadingText }}</span>
    <slot name="loading" v-else></slot>
  </span>
  
  <span class="button-content error out-of-sight">
    <span v-if="errorText">{{ errorText }}</span>
    <slot name="error" v-else></slot>
  </span>
  
</button>
</template>

<script> export {default} from "./component.ts"; </script>
<style lang="scss" scoped>@import "./style.css";</style>
