.async-button-component {
  position: relative;
  overflow: hidden;
}

.async-button-component > .button-content {
  width: 100%;
  padding-left: .5em;
  padding-right: .5em;
  left: 0;
  text-align: center;

  position: absolute;
  transition: transform .3s, background-color 0.3s,  opacity 0.3s;
}

/* Only goes 500% away (~5 lines) */
.async-button-component > .button-content.out-of-sight { transform: translateY(-500%); }

/* Show the correct button content for given states */
.async-button-component.loading { background-color: gray; }
.async-button-component.loading > .button-content.loading { transform: translateY(0); }

.async-button-component.success { background-color: rgb(28, 184, 65); /* pure's success green */ }
.async-button-component.success > .button-content.success { transform: translateY(0); }

.async-button-component.error {background-color: rgb(202, 60, 60); /* pure's error red */ }
.async-button-component.error > .button-content.error { transform: translateY(0); }

/* Hide the default button text while loading, success or error */
.async-button-component.loading > .default { opacity: 0; }
.async-button-component.success > .default { opacity: 0; }
.async-button-component.error > .default { opacity: 0; }
