<template>
  <div class="printed-address-component" v-if="address">
    <div>{{address.line1}}</div>
    <div>{{address.line2}}</div>
    <div>
      {{address.town}} &nbsp;
      {{address.state}}
    </div>
    <div>
      {{address.country}}&nbsp;
      {{address.zipCode}}
    </div>
</div>
</template>

<script> export {default} from './component.ts'; </script>
