<template>
<div class="loading-page-indicator-component flex contents-centered"
     :class="additionalClasses">
  <div class="text-container">

    <div class="logo-border centered-text" v-if="headerImageSrc">
      <img :src="headerImageSrc"></img>
    </div>

      <div v-if="title" id="loading-page-indicator-title" class="xx-large-text slim-text">{{ title }}</div>
      <div v-if="description" id="loading-page-indicator-title" class="larger-text">{{ description }}</div>
    </div>

    <p><slot name="custom-text-message"></slot></p>

  </div>
</div>
</template>

<script> export {default} from './component.ts'; </script>
<style lang="scss" scoped>@import "./style.css";</style>

