.loading-page-indicator-component{position:absolute;background-color:hsla(0,0%,39.2%,.7);color:#fff;height:100%;width:100%;opacity:1;z-index:2;transition:opacity .3s;display:flex}.loading-page-indicator-component.dismissed{opacity:0;z-index:-1}.loading-page-indicator-component img{max-width:10em}
/*# sourceMappingURL=/index.css.map */