.loading-page-indicator-component {
  position: absolute;
  background-color: rgba(100,100,100,0.7);
  color: white;
  height: 100%;
  width: 100%;

  opacity: 1;
  z-index: 2;

  transition: opacity .3s;
}

.loading-page-indicator-component { display: flex; }

.loading-page-indicator-component.dismissed {
  opacity: 0;
  z-index: -1;
}

.loading-page-indicator-component img { max-width: 10em; }
