<template>
<section id="alert-listing-container">
  <alert-notification v-on:destroy="destroyAlert"
                      v-for="(a, idx) in processedAlerts"
                      :key="a.id"
                      :alert="a"
                      :alert-idx="idx"></alert-notification>
</section>
</template>

<script> export {default} from './component.ts'; </script>
