.alert-notification-component.alert{padding:1em;margin-bottom:.5em}.alert-notification-component.alert.alert-error{background-color:#e74c3c;color:#fff}.alert-notification-component.alert.alert-success{background-color:#2ecc71;color:#fff}.alert-notification-component.alert.alert-warning{background-color:#f1c40f;color:#fff}.alert-notification-component.alert.alert-info{background-color:#3498db;color:#fff}
/*# sourceMappingURL=/index.css.map */