<template>
  <div class="alert-notification-component" v-bind:class="alertClass">
    <div class="btn-close-alert pull-right cursor-pointer"
         @click.prevent="destroy"
         v-if="isClosable">&times;</div>
    <span>{{ alertMessage }}</span>
    <slot></slot>
  </div>
</template>

<script> export {default} from './component.ts'; </script>
<style lang="scss" scoped>@import "./style.css";</style>
