<template>
<div class="tag-toggle-selector-component">
  <div class="tag-listing">
    <tag-listing-item  v-for="(t,idx) in tags"
                       :key="t.value"
                       :tag="t"
                       :selected="selectedTagValues.includes(t.value)"
                       :tag-idx="idx"
                       v-on:toggle="toggleTag"></tag-listing-item>
  </div>
</div>
</template>

<script> export {default} from './component.ts'; </script>

