<template>
<form class="password-change-form-component pure-form pure-form-stacked minimal white-theme"
      @submit.prevent="validateAndSubmit">
  <fieldset>

    <div class="pure-control-group sm-margin-top">
      <input type="password"
             placeholder="Current password"
             v-model="oldPassword" v-if="!showPlainTextPassword"/>
      <input type="text"
             placeholder="Current password"
             v-model="oldPassword" v-if="showPlainTextPassword"/>

      <alert-notification :closable="false"
                          :alert="{status: 'error', message: 'Please enter your current password'}"
                          v-if="submittedOnceWithErrors && !currentPasswordIsValid"></alert-notification>
      <p class="pure-form-message">Please enter your current password</p>
    </div>

    <div class="pure-control-group sm-margin-top">
      <input type="password"
             placeholder="New Password"
             v-model="newPassword" v-if="!showPlainTextPassword"/>
      <input type="text"
             placeholder="New Password"
             v-model="newPassword" v-if="showPlainTextPassword"/>

      <alert-notification :closable="false"
                          :alert="{status: 'error', message: 'Please enter a new password'}"
                          v-if="submittedOnceWithErrors && !currentPasswordIsValid"></alert-notification>
      <p class="pure-form-message">Please enter your new password</p>
    </div>

    <div class="pure-control-group sm-margin-top">
      <input type="password"
             placeholder="New Password, again"
             v-model="newPasswordAgain" v-if="!showPlainTextPassword"/>
      <input type="text"
             placeholder="New Password, again"
             v-model="newPasswordAgain" v-if="showPlainTextPassword"/>

      <alert-notification :closable="false"
                          :alert="{status: 'error', message: 'Please enter a your new password again'}"
                          v-if="submittedOnceWithErrors && !currentPasswordIsValid"></alert-notification>
      <p class="pure-form-message">Please enter your new password, again</p>
    </div>

    <button class="pure-button button-success sm-margin-top" :disabled="hasErrors">
      <i class="fa fa-key"></i>&nbsp
      <span>Change password</span>
    </button>

    <label for="xs-margin-top show-plain-password">
      <input id="show-plain-password"
             type="checkbox"
             v-model="showPlainTextPassword">
      Show passwords in plaintext
    </label>

    <alert-listing :alerts="alerts" :maxAlertCount=1></alert-listing>

  </fieldset>
</form>
</template>

<script> export {default} from './component.ts'; </script>
