<template>
<div class="generic-listing-component">
  <div class="inner">

    <section class="top-controls pure-g">
      <div id="controls-lhs" class="pure-u-sm-1-2 pure-u-md-2-5 pure-u-lg-1-5">

        <!-- Change listing styling -->
        <div class="pure-button-group listing-style-controls"
             v-if="enableListStyleChange && isDynamicListing"
             role="group"
             aria-label="list style">
          <button class="pure-button"
                  :class="{ 'pure-button-active': listStyleList }"
                  @click.prevent="changeListStyle('list')">
            <i class="fa fa-bars"></i>
          </button>

          <button class="pure-button"
                  :class="{ 'pure-button-active': listStyleGridLarge }"
                  @click.prevent="changeListStyle('grid-large')">
            <i class="fa fa-th-large"></i>
          </button>

          <button class="pure-button"
                  :class="{ 'pure-button-active': listStyleGridSmall }"
                  @click.prevent="changeListStyle('grid-small')">
            <i class="fa fa-th"></i>
          </button>
        </div>

      </div>


      <div id="controls-rhs" class="pure-u-sm-1-2 pure-u-md-3-5 pure-u-lg-4-5">

        <!-- Filtering controls -->
        <div class="pure-g" v-if="filterable">
          <form class="pure-u-1 pure-form" @submit.prevent="">
            <div class="input-and-button">
              <input class="pure-u-1 pure-u-sm-3-5" type="text" v-model="filterText" placeholder="Filter"></input>
              <button class="pure-button button-secondary" title="Filter this page of results">
                <i class="fa fa-filter"></i> Filter
              </button>
            </div>
          </form>
        </div>

        <!-- Pagination controls -->
        <div class="pure-g">
          <div class="pure-u-1 right-aligned-text">
            <div v-if="paginated" class="display-iblock alpha-20-black-bg xs-margin-top">
              <span class="sm-margin-horiz">Page</span>
              <!-- Change result list styling -->
              <div class="pure-button-group display-iblock valign-mid alpha-20-black-bg" role="group" aria-label="...">
                <button class="pure-button" v-if="currentPageNumber > 1"
                        @click.prevent="changePage(currentPageNumber - 1)">
                  <i class="fa fa-chevron-left"></i>
                </button>

                <button class="pure-button" disabled>
                  {{currentPageNumber}}
                </button>

                <button v-if="maxPageNumber && currentPageNumber < maxPageNumber"
                        class="pure-button"
                        @click.prevent="changePage(currentPageNumber + 1)">
                  <i class="fa fa-chevron-right"></i>
                </button>
              </div>
            </div>
          </div> <!-- /.right-aligned-text -->
        </div>

      </div> <!-- /#controls-rhs -->

    </section>

    <section class="data-container xs-margin-top">
      <!-- Tabular view of the data -->
      <div class="table-container overflow-x-auto pure-u-1" v-if="type === 'table'">

        <table class="pure-table pure-table-striped">
          <thead>
            <th v-for="c in columnDisplayCfg"
                :key="c.title">
              {{ c.title }}
            </th>

            <th v-if="showActionColumn">Actions</th>
          </thead>

          <tbody>
            <tr v-for="(row, idx) in processedData"
                :key="row._listingId">
              <listing-table-item v-for="(c, idx) in columnDisplayCfg"
                                  :key="c.title"
                                  :displayCfg="columnDisplayCfg && columnDisplayCfg[idx] ? columnDisplayCfg[idx] : {}"
                                  :data="row"></listing-table-item>

              <slot name="actions-cell" :data="row"></slot>
            </tr>

            <tr v-if="!requestInFlight && (processedData.length == 0)" class="centered-text">
              <td :colspan="totalColumns" >No rows to show...</td>
            </tr>

            <tr v-if="requestInFlight" class="centered-text">
              <td :colspan="totalColumns">
                <div class="loading-message centered-text gray-fg transition fast opacity invisible xs-pad" :class="{ visible: requestInFlight }">
                  <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i> Loading ...
                </div>
              </td>
            </tr>

          </tbody>
        </table>

      </div>

      <!-- Custom listing to use with the data -->
      <div class="listing-container full-width flex flex-row-wrap" :class="[listStyle]" v-if="type==='dynamic'">
        <div v-for="(row, idx) in processedData"
            class="dynamic-listing-item"
            :class="[listStyle]"
            :key="row._listingId">
          <slot name="row-item" :data="row" :listStyle="listStyle" :idx="idx"></slot>
        </div>
      </div>

      <div class="loading-container pure-u-1" v-if="endlessScroll">
        <h3 class="loading-message centered-text gray-fg transition fast opacity invisible"
            :class="{ visible: requestInFlight }">
          <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i> Loading ...
        </h3>

        <hr class="plain centered-text very-light-gray-fg transition fast opacity invisible"
            :class="{visible: this.data && this.data.length === this.totalCount}">
        </hr>
      </div>

      <!-- Empty message -->
      <div class="pure-u-1">
        <slot name="empty-msg" v-if="processedData.length === 0"></slot>
      </div>

    </section>

    <section class="bottom-controls pure-g">
      <div id="controls-lhs" class=" pure-u-sm-1 pure-u-md-2-3 pure-u-lg-3-5">

        <!-- Page length controls -->
        <div class="pure-u-1 pure-u-sm-1 listing-page-length-controls xs-margin-top" v-if="paginated">
          <!-- Change page length -->
          <span>Show</span>
          <div class="pure-button-group display-iblock valign-mid" role="group" aria-label="page size">
            <button v-for="l in pageSizeOptions"
                    class="pure-button"
                    :class="{ 'pure-button-active': pageSize == l }"
                    @click.prevent="pageSize = l"
                    :key="l">
              {{ l }}
              </button>
          </div>
            <span>items per page</span>
        </div>

      </div> <!-- /.controls-lhs -->

      <div id="controls-rhs" class="pure-u-sm-1 pure-u-md-2-3 pure-u-lg-3-5"></div>
    </section>

  </div>
</div>
</template>

<script> export {default} from './component.ts'; </script>
<style lang="scss" scoped>@import "./style.css";</style>
