.generic-listing-component .data-container > .table-container > table { width: 100%;}

.generic-listing-component #controls-rhs { text-align: right;}

.generic-listing-component .listing-container { flex-flow: row wrap;}

.generic-listing-component .listing-container.list  { flex-direction: column; }

.generic-listing-component .listing-container .dynamic-listing-item {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 1em;
}

.generic-listing-component .listing-container .dynamic-listing-item.list {
  width: 100%;
  height: 10em;
}

.generic-listing-component .listing-container .dynamic-listing-item.grid-small {
  flex-basis: calc(100% / 4);
  height: 13em;
}

.generic-listing-component .listing-container .dynamic-listing-item.grid-large {
  flex-basis: calc(100% / 3);
  height: 17em;
}

.display-iblock { display: inline-block; }

/** Note this media query order needs to stay for specificity */
@media screen and (max-width:768px) {
  .generic-listing-component .listing-container .dynamic-listing-item.grid-large { flex-basis: calc(100% / 3); }
  .generic-listing-component .listing-container .dynamic-listing-item.grid-small {
    flex-basis: calc(100% / 4);
    height: 15em;
  }

  .generic-listing-component .listing-container .dynamic-listing-item.list { height: auto; }
}

@media screen and (max-width:568px) { /* xs */
  .generic-listing-component .listing-container .dynamic-listing-item.grid-small { flex-basis: calc(100% / 3); }
  .generic-listing-component .listing-container .dynamic-listing-item.grid-large { flex-basis: calc(100% / 2); }
}
