<template>
<div class="panel-container-component flex">
  <section class="lhs-container flex" :style="lhsStyle" :class="processedLHSClasses">
    <slot name="lhs"></slot>
  </section>

  <section class="rhs-container flex">
    <slot name="rhs"></slot>
  </section>
</div>
</template>

<script> export {default} from './component.ts'; </script>
<style lang="scss" scoped>@import "./style.css";</style>
