.panel-container-component {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.panel-container-component > section.lhs-container {
  min-height: 100%;
  transition: width .3s;
  overflow-x: hidden;
}

.panel-container-component > section.rhs-container {
  display: flex;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

.panel-container-component > section.rhs-container > * {
  width: 100%;
}
