<template>
<section id="app" class="flex column">
  <h1 class="slim-text centered-text">PureCSS + Vue.JS Component Library</h1>

    <section class="demo">
      <h2 class="title slim-text">Alert Notification</h2>
      <p class="description">For alerting the user</p>
      <alert-notification status="error" message="This is an error message!"></alert-notification>
      <alert-notification status="info" message="This is an informational message!"></alert-notification>
      <alert-notification status="success" message="This is a success message!"></alert-notification>
      <alert-notification status="warning" message="This is a warning message!"></alert-notification>
    </section>

    <hr class="demo-divider">

    <section class="demo">
      <h2 class="title slim-text">Alert Listing</h2>
      <p class="description">A listing of <code>&lt;alert-notification&gt;</code>s. It can take a list of alerts as input and display them all, or have new alerts added to it.</p>
      <alert-listing :alerts="alerts">
      </alert-listing>
    </section>

    <hr class="demo-divider">

    <section class="demo">
      <h2 class="title slim-text">Async button</h2>
      <p class="description">An asynchronous button that automatically checks the result of the <code>click</code> listener (to see if it's a promise and shows state.</p>
      <async-button class="pure-button pure-button-primary" @click="wait3Seconds">Do many</async-button>
      <async-button class="pure-button pure-button-primary" :only-once="true" @click="wait3Seconds">Do once</async-button>
    </section>

    <hr class="demo-divider">

    <section class="demo">
      <h2 class="title slim-text">Custom Option Select</h2>
      <p class="description">A select box with programmatically specifiable options.</p>
      <pre>
        &lt;custom-option-select description="Which one do you want?"
        :options="options"
        :selected-value="preSelectedValue"
        @value-changed="currentlySelectedOption = $event.value"&gt;&lt;/custom-option-select&gt;
      </pre>

      <custom-option-select description="Which one do you want?"
                            :options="options"
                            :selected-value="preSelectedValue"
                            @value-changed="currentlySelectedOption = $event.value"></custom-option-select>
      <p><code>preSelectedValue</code> is {{preSelectedValue}}</p>
      <p><code>currentlySelectedOption</code> is [{{currentlySelectedOption}}] (the `value` of the option)</p>

    </section>

    <hr class="demo-divider">

    <section class="demo">
      <h2 class="title slim-text">Dashboard text widget</h2>
      <p class="description">A widget for showing text on a dashboard. They can have titles, subtitles, icons (w/ FontAwesome), etc.</p>
      <pre>
        &lt;dashboard-text-widget :value="stats.totalUsers"
        class="xs-pad xs-margin nephritis-bg"
        title="Users"
        hover-desc="Number of user accounts"
        iconClass="fa fa-users"&gt;&lt;/dashboard-text-widget&gt;
      </pre>

      <div class="pure-g">
        <dashboard-text-widget :value="5"
                               class="pure-u-1-3 xs-pad xs-margin wet-asphalt-bg"
                               title="Users"
                               hover-desc="Number of user accounts"
                               iconClass="fa fa-users"></dashboard-text-widget>
        <dashboard-text-widget :value="10"
                               class="pure-u-1-3 xs-pad xs-margin alizarin-bg"
                               title="Capacity (GB)"
                               subtitle="pretty small..."
                               hover-desc="Total HDD space"
                               iconClass="fa fa-hdd-o"></dashboard-text-widget>
        <dashboard-text-widget :value="7"
                               class="pure-u-1-3 xs-pad xs-margin emerald-bg"
                               title="People (billion)"
                               subtitle="in the world"
                               hover-desc="Number of people in the world"
                               iconClass="fa fa-globe"></dashboard-text-widget>
      </div>
    </section>

    <section class="demo">
      <h2 class="title slim-text">Generic Listing</h2>
      <p class="description">A listing that just shows a bunch of components. It can be configured to fetch the objects from a remote source or use a local list. It also has things like filtering and different display modes (table, listing, grid).</p>
      <pre>
        &lt;generic-listing type="table"
        class="small"
        row-key-field="id"
        :filterable="true"
        :initial-data="tableData"
        :columnDisplayCfg="tableColumnDisplayCfg"
        :filterFields="tableFilterFields"
        :enableListStyleChange="false"
        :paginated="true"&gt;&lt;/generic-listing&gt;
      </pre>

      <div class="pure-g">
        <div class="pure-u-1">
          <generic-listing type="table"
                           class="small"
                           row-key-field="id"
                           :filterable="true"
                           :initial-data="tableData"
                           :columnDisplayCfg="tableColumnDisplayCfg"
                           :filterFields="tableFilterFields"
                           :enableListStyleChange="false"
                           :paginated="true"></generic-listing>
        </div>
      </div>

      <pre>
        &lt;generic-listing type="dynamic"
        class="small"
        row-key-field="id"
        :filterable="false"
        :initial-data="tableData"
        :columnDisplayCfg="tableColumnDisplayCfg"
        :filterFields="tableFilterFields"
        :enableListStyleChange="true"
        :paginated="true"&gt;&lt;/generic-listing&gt;
      </pre>

      <div class="pure-g">
        <div class="pure-u-1">
          <generic-listing type="dynamic"
                           class="small"
                           row-key-field="id"
                           :filterable="false"
                           :initial-data="tableData"
                           :columnDisplayCfg="tableColumnDisplayCfg"
                           :filterFields="tableFilterFields"
                           :enableListStyleChange="true"
                           :paginated="true">
            <template slot="row-item" scope="props">
              <dashboard-text-widget :value="props.data.id"
                                     class="pure-u-1 emerald-bg"
                                     :title="'User: ' + props.data.name"
                                     :subtitle="'Job: ' + props.data.occupation"
                                     hover-desc="Static user info"
                                     iconClass="fa fa-user"></dashboard-text-widget>
            </template>

          </generic-listing>
          <p style="font-style:italic;"><strong>NOTE</strong> In the second example, we use <code>&lt;dashboard-text-widget&gt;</code>s as the "dynamic" list items.</p>
        </div>
      </div>

    </section>

    <hr class="demo-divider">

    <section class="demo">
      <h2 class="title slim-text">Page loading indicator</h2>
      <p class="description">A component that will block the whole screen and show a loading picture/animation and message. It <strong>must</strong> be put inside a container that is <code>position: relative</code></p>
      <pre>
        &lt;loading-indicator :isLoading="isLoading" title="Test Loading" description="Showing how it works..."&gt;&lt;/loading-indicator&gt;
      </pre>

      <div style="position: relative; display: flex; justify-contents: center; align-items: center; background-color: #EEE; height: 300px; width: 300px;">
        <loading-indicator :isLoading="isLoading" title="Test Loading" description="Showing how it works..."></loading-indicator>
        <h1 style="text-align: center">This area will show loading!</h1>
      </div>

      <async-button class="pure-button pure-button-primary"
                    loading-text="Showing loading indicator"
                    success-text="Finished loading!"
                    @click="showLoadingIndicator">Show loading indicator</async-button>
    </section>

    <hr class="demo-divider">

    <section class="demo">
      <h2 class="title slim-text">Panel container</h2>
      <p class="description">LHS & RHS panel container that can show/hide either side.<code>lhs-min-width</code> determines the smalles size the LHS can be compressed to.</p>
      <pre>
        &lt;loading-indicator :isLoading="isLoading" title="Test Loading" description="Showing how it works..."&gt;&lt;/loading-indicator&gt;
      </pre>

      <div style="background-color: #EEE; height: 300px;">
        <panel-container :lhs-compressed="panelContainerLHSCompressed"
                         lhs-min-width="0"
                         lhs-additional-classes="pure-visible-after-md">

          <section slot="lhs"
                   style="width: 30vw;"
                   class="nephritis-bg white-fg flex centered-contents"
                   :compressed="!panelContainerLHSCompressed">
            <h1>LHS (width 30vw)</h1>
          </section>

          <section slot="rhs" class="amethyst-bg white-fg flex centered-contents">
            <h1>RHS (rest)</h1>
          </section>

        </panel-container>
      </div>

      <async-button class="pure-button pure-button-primary" @click="panelContainerLHSCompressed = !panelContainerLHSCompressed">Compress/Decompress LHS</async-button>

    </section>

    <hr class="demo-divider">

    <section class="demo">
      <h2 class="title slim-text">Printed Address</h2>
      <p class="description">A component that just displays an address. The address can either be given directly or be retrieved from a service by ID. A service that provides addresses (<code>addresses-svc</code>) must be given -- it is used to look up the <code>address-id</code>.</p>
      <pre>
        &lt;printed-address :addresses-svc="mockAddressesSvc" :address-id="0"&gt;&lt;/printed-address&gt;
      </pre>

      <printed-address :addresses-svc="mockAddressesSvc" :address-id="0"></printed-address>
    </section>

    <hr class="demo-divider">

    <section class="demo">
      <h2 class="title slim-text">Tag Toggle Selector</h2>
      <p class="description">A component that enables selecting of a group of tags.</p>
      <pre>
        &lt;tag-toggle-selector :tags="tags" :initial-selected-tag-values="preSelectedTag"&gt;&lt;/tag-toggle-selector&gt;
      </pre>

      <tag-toggle-selector :tags="tags" :initial-selected-tag-values="preSelectedTag"></tag-toggle-selector>
    </section>

    <hr class="demo-divider">

    <section class="demo">
      <h2 class="title slim-text">Picture Input (from vendor, <a href="https://github.com/alessiomaffeis/vue-picture-input">vue-picture-input</a>)</h2>
      <p class="description">Picture selection component.</p>
      <pre>
        &lt;picture-input ref="newCompanyIconImage"
        @change="imageChanged"
        width="300"
        height="300"
        accept="image/jpeg,image/png"
        size="10"
        buttonClass="btn"
        :customStrings="{upload: '&lt;h1&gt;Bummer!&lt;/h1&gt;', drag: 'Company logo image'}"&gt;
      </pre>

      <picture-input ref="uploadedImage"
                     @change="imageChanged"
                     width="300"
                     height="300"
                     accept="image/jpeg,image/png"
                     size="10"
                     buttonClass="btn"
                     :customStrings="{upload: '<h1>Bummer!</h1>', drag: 'Upload an image'}"></picture-input>
    </section>

</section>
</template>

<script lang="ts">export {default} from "./component.ts";</script>
<style lang="scss" scoped>@import "./style.css";</style>
