.slim-text { font-weight: 400; }
.slimmer-text { font-weight: 300; }

.centered-text { text-align: center; }

.flex { display: flex; }
.flex.column { flex-direction: column; }
.flex.centered-contents {
  align-items: center;
  justify-content: center;
}

a.plain {
  color: inherit;
  text-decoration: none;
}
a.plain.dashed {
  text-decoration: none;
  border-bottom: 1px dashed;
}
a.plain:hover { text-decoration: none; }
a.plain:visited {
  color: inherit;
  text-decoration: none;
}

hr.plain {
  border-style: solid;
  margin-left: 25%;
  margin-right: 25%;
}

section.demo {
  margin: 1em;
}

section.demo .title {
  text-shadow: 1px 2px 2px #EEE;
}

hr.demo-divider {
  width: 60%;
  color: #FFF;
}

/** Tag styling **/
span.tag {
  border-radius: .2em;
  padding: .5em;
  color: white;
}

span.tag-error { background-color: #e74c3c; /* flatuicolors.com/alizarin */ }
span.tag-success { background-color: #2ecc71; /* flatuicolors.com/emerald */ }
span.tag-warning { background-color: #f1c40f;  /* flatuicolors.com/sunflower */ }
span.tag-info { background-color: #3498db;  /* flatuicolors.com/peter-river */ }

/**********/
/* Colors */
/**********/

.concrete-bg { background-color: #95a5a6; } /* flatuicolors.com/concrete */
.emerald-bg { background-color: #2ecc71; } /* flatuicolors.com/emerald */
.emerald-fg { color: #2ecc71; } /* flatuicolors.com/emerald */
.silver-bg { background-color: #bdc3c7; }  /* flatuicolors.com/silver */
.clouds-bg { background-color: #ecf0f1; }  /* flatuicolors.com/clouds */
.alizarin-bg { background-color: #e74c3c; }  /* flatuicolors.com/alizarin */
.alizarin-fg { color: #e74c3c; }  /* flatuicolors.com/alizarin */
.sunflower-bg { background-color: #f1c40f; }  /* flatuicolors.com/sunflower */
.amethyst-bg { background-color: #9b59b6; }  /* flatuicolors.com/amethyst */
.nephritis-bg { background-color: #27ae60; }  /* flatuicolors.com/nephritis */
.nephritis-fg { color: #27ae60; }  /* flatuicolors.com/nephritis */
.wet-asphalt-bg { background-color: #34495e; }/* flatuicolors.com/wet-asphalt */
.asbestos-bg { background-color: #7f8c8d; } /* flatuicolors.com/asbestos */

.white-fg { color: #fff; }
