<template>
<select class="custom-option-select-component pure-select larger-text" v-model="value">
  <option disabled value="">{{description}}</option>
  <option v-for="o in selectOptions" :value="o.value">{{o.label}}</option>
</select>
</template>

<script> export {default} from './component.ts'; </script>
